:root {
  --bg1: rgb(36 22 22);
  --bg2: rgb(57 42 42);
  --text: rgb(219, 219, 219);
}

* {
  margin: 0;
  color: var(--text);
  font-family: "Lexend Deca";
  box-sizing: border-box;
}

::selection {
  background-color: rgba(from white r g b / 0.05);
}

::-webkit-scrollbar {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

html {
  min-height: 100%;
  background-color: var(--bg2);
}

body {
  min-height: 100svh;
  background-color: var(--bg2);
  background-image: linear-gradient(var(--bg1), var(--bg2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(from white r g b / 0.03);
  text-shadow: 0 2px 0 var(--bg1), 0 0 10px black;

  text-align: center;
  font-size: 2.5rem;
  padding: 1.5rem;
  border-bottom: 3px solid var(--bg2);
  backdrop-filter: blur(5px);

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}